body{
    padding: 0 10%;
}

nav {
    background-color: black;
    display: flex;
    padding: .5rem 1rem;
    color: var(--color-cyan);

    justify-content: center;
    align-items: center;
}

nav h1 {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.right-most {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.right-most>input {
    cursor: pointer;
    color: var(--color-cyan);
    padding: .25rem 0;
    background-color: var(--bg-alice-blue);
}

.right-most>input:hover {
    background-color: var(--bg-alice-blue-hover);
}

nav img.nav-logo {
    height: 3.5rem;
}

main>.attendance-register {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem 3rem .5rem;
    background-color: var(--bg-cyan);
    gap: 1rem;
    color: var(--color-alice-blue);
}

main>.attendance-register>.title {
    margin-top: 1rem;
}

main>.attendance-register>.actions {
    display: flex;
    gap: .5rem;
}

main>.attendance-register>.actions>* {
    cursor: pointer;

    flex: 1;
    padding: 3rem 0px;
    font-size: 2rem;
    text-transform: uppercase;

    border: none;
    background-color: var(--bg-alice-blue);
    color: var(--color-cyan);
}

main>.attendance-register>.actions>*:hover {
    background-color: var(--bg-alice-blue-hover);
}

main>.attendance-records>.title {
    margin-top: 1rem;
}

main>.attendance-records {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem 3rem .5rem;
    gap: 1rem;
    padding: 1rem .5rem 3rem .5rem;
    background-color: var(--bg-alice-blue);
    /* background-color: rgb(186, 134, 4); */
    color: var(--color-cyan);
}

main>.attendance-records>.data-table>table {
    width: 100%;
    border-collapse: collapse;
}

main>.attendance-records>.data-table>table>tbody tr:hover {
    cursor: pointer;
    background-color: var(--bg-alice-blue-hover);
}

main>.attendance-records>.data-table>table th {
    color: var(--color-alice-blue);
    text-align: center;
}

main>.attendance-records>.data-table>table td {
    color: var(--color-cyan);
    text-align: center;
}

main>.attendance-records>.data-table>table thead,
tfoot {
    background-color: var(--bg-cyan);
    font-size: 1.25rem;
}

main>.attendance-records>.data-table>table th {
    padding: 1rem 0;
}

main>.attendance-records>.data-table>table td {
    padding: .5rem 0;
}